{% extends "base.html" %}

{% block title %}履歴{% endblock %}

{% block content %}
<div class="summary-box">
    <span class="summary-label">商品数</span>
    <span class="summary-value">{{ data|length }}</span>
</div>

<div class="history-list">
    {% for row in data %}
    <div class="history-row">
        <div class="history-left">
            <div class="item-name">{{ row[0] }}</div>
            <div class="item-meta">個数合計 {{ row[1] }}</div>
        </div>
        <div class="history-right">¥{{ row[2] }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
